@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(circle, #E9D017, #FF5900);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #E9D017, #FF5900);
  filter: brightness(0.85);
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
